@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.stagging {
  @apply flex items-center justify-center flex-col gap-5 duration-300 w-full;
}
.stagging div {
  @apply border border-red-500 hover:bg-red-500 max-w-md w-full flex items-center justify-center rounded-full p-2
}
.stagging div:nth-child(2) {
  @apply border border-green-500 hover:bg-green-500 max-w-md w-full flex items-center justify-center
}
.stagging div:nth-child(3) {
  @apply border border-yellow-500 hover:bg-yellow-500 max-w-md w-full flex items-center justify-center
}
.stagging div:nth-child(4) {
  @apply border border-blue-500 max-w-md hover:bg-blue-500 w-full flex items-center justify-center
}
.stagging div:last-child {
  @apply border border-pink-500 hover:bg-pink-500 max-w-md w-full flex items-center justify-center
}